samples/utf16-all-bad-dc00-dfff.txt
samples/utf16-all-good-after-dfff.txt
samples/utf16-all-good-before-dc00.txt
samples/utf16-all-surrogates.txt
cnvout-mono
cnvout-other
cnvout-diff
convert.exe
convert.exe.mdb
gen-utf16
SomeTests.exe
SomeTests.exe.mdb
